@import "lesshat.less";
@import "html5bp.less";

/* SCREEN SIZES */
@scr-xl:   ~"only screen and (min-width: 1200px)";
@scr-lg:   ~"only screen and (max-width: 1200px)";
@scr-md:   ~"only screen and (max-width: 992px)";
@scr-sm:   ~"only screen and (max-width: 768px)";
@scr-xs:   ~"only screen and (max-width: 480px)";
@scr-xxs:  ~"only screen and (max-width: 480px)";

/* FONTS */
@Arial: Arial, Helvetica, sans-serif;

/* COLORS */
@pureWhite: #ffffff;
@white: #f9f9f9;
@darkWhite: #f9f9f9;
.transWhiteBG(@opa){
  background-color: rgba(245,245,245,@opa);
}

@red: #d14925;
@lightRed: #ffb9a7;
@faintRed: rgba(209,73,37,0.1);
.transRedColor(@opa){
  color: rgba(209,73,37,@opa);
}
.transRedBG(@opa){
  background-color: rgba(209,73,37,@opa);
}

@blue: #0076a3;
@lightBlue: #75d9ff;
@faintBlue: rgba(0,118,163,0.1);
.transBlueColor(@opa){
  color: rgba(0,118,163,@opa);
}
.transBlueBG(@opa){
  background-color: rgba(0,118,163,@opa);
}

@black: #504d54;
@faintBlue: rgba(0,0,0,0.1);
.transBlackColor(@opa){
  color: rgba(0,0,0,@opa);
}
.transBlackBG(@opa){
  background-color: rgba(0,0,0,@opa);
}

@grey: #5e5e5e;
@lightgrey: #999999;

.blur(@am){
  -webkit-filter: blur(@am);
  -moz-filter: blur(@am);
  -o-filter: blur(@am);
  -ms-filter: blur(@am);
  filter: blur(@am);
}



*{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

html,body{
  background: @darkWhite;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

hr.marker{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  position: fixed;
  left:0;
}

a{
  text-decoration: none;
  .transition(all, 0.3s, ease);
  &:hover,&:active{
    color: @lightRed;
  }
  color: @lightBlue;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}



input,textarea{
  .border-radius(0);
  .box-sizing(border-box);
  border: 1px solid #d3d3d3 !important;
  .transition(all, 0.3s, ease);
  background-color: @darkWhite;
  outline: none;
  &:active,&:focus{
    border: 1px solid @red !important;
    border-left: 10px solid @red !important;
    .box-shadow(-5px 0px 15px @red);
    margin-left:10px;
  }
  width: 100%;
  padding: 15px;
}

.tr-lock,.bl-lock{
  position: absolute;
  display: inline-block;
  width: 300px;
  img{
    width: 100%;
  }
  @media @scr-md{
    display: none;
  }
}
.tr-lock{
  top: 0;
  right: 0;
}
.bl-lock{
  bottom:0;
  left:0;
  margin-top: -300px;
}

.header{
  position: relative;
  display: inline-block;
  //background: @darkWhite;
  width: 100%;
  top:0;
  left:0;
  text-align: center;
  z-index: 100;
  .box-sizing(border-box);
  border-left:20px solid @blue;
  border-right:20px solid rgba(255,255,255,0);
  .transition(all, 0.3s, ease);
  @media @scr-sm{
    border-left:0;
    border-right:0;
  }
  &.start{
    .container-fluid{
      .col-sm-12{
      }
    }
  }
  .top_logo,.top_sub_logo{
    text-align: center;
    display: block;
    img{
      width: 200px;
      .transition(all, 0.3s, ease);
      @media @scr-xs{
        width: 200px;
      }
    }
  }
  &.mobile-header{
    position:fixed;
    z-index: 90;
    margin-top:-100px;
    border-left:0;
    border-right:0;
    .transWhiteBG(0.95);
    .container{
      padding-left: 0;
      padding-right: 0;
    }
    .top_logo{
      display: inline-block;
      img{
        width: 100px;
        @media @scr-xs{
          width: 50px;
        }
      }
    }
    .top_sub_logo{
      display: inline-block;
      position: absolute;
      left:0;
      img{
        margin-top: 35px;
        width: 150px;
      }
      @media @scr-xs{
        display: none;
      }
    }
  }
}

#main-overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 10000;
  opacity: 0;
  span{
    position: relative;
    display:inline-block;
    left: 50%;
    top: 50%;
    background: rgba(255,255,255,0.8) 50% 50% no-repeat;
    .border-radius(130px);
    .box-sizing(border-box);
    width: 130px;
    height: 130px;
    margin-left: -65px;
    margin-top: -65px;
  }
}

#main-alt,#main{
  position: relative;
  top:0;
  left:0;
}
#main-alt{
  left: -100%;
}
.upper-page{
  display: block;
  position: relative;
  height: auto;
  min-height: 100%;
  padding-bottom:300px;
  .box-sizing(border-box);
  margin-bottom:-300px;
}

.site{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height:100%;
  overflow-x: hidden;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 12;

  .main-header {
    min-height: 50px;
    position: relative;
    @media @scr-lg{
      min-height: 50px;
    }
    @media @scr-xs{
      min-height: 50px;
    }
  }

  .main-view {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    opacity: 1;
    z-index: 10;
    background: @darkWhite;

    .section {
      padding-top: 40px;
      padding-bottom: 40px;
      @media @scr-xs{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .main-footer{
    position: relative;
    height:300px;
    background: @black;
    .background-size(cover);
    color:@white;
    @media @scr-sm{
      text-align: center;
      height:auto;
    }
    .container{
      padding-left: 0;
      padding-right: 0;
      .col-sm-6{
        padding-left: 0;
        padding-right: 0;
        @media @scr-sm{
          padding-left: 20px;
          padding-right:20px;
        }
      }
    }
    .footer-text{
      .box-sizing(border-box);
      padding: 40px 0;
      @media @scr-sm{
        padding: 40px 0;
      }
      h5{
        font-size: 16px;
        font-weight: 700;
        display: block;
      }
      h4{
        font-size: 24px;
        font-weight: 400;
        strong{
          font-weight: 700;
        }
      }
      a{
        text-decoration: none;
        &:hover,&:active{
          color: @lightRed;
        }
        color: @lightBlue;
      }
      hr{
        width: 100%;
        border: 0;
        border-top: 2px solid @red;
      }
    }
  }
}
.work-container{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  margin-top: 10px;
  margin-bottom: 10px;
  .box-sizing(border-box);
  border-left:20px solid @blue;
  border-right:20px solid rgba(255,255,255,0);;
  transition: all 0.5s ease;
  @media @scr-sm {
    border: 0;
  }
  &:hover{
    //.transBlueBG(0.1);
    border-left:20px solid @blue;
    border-right: 20px solid @faintBlue;
    @media @scr-xs {
      border: 0;
    }
  }
  &.alt{
    border-left:20px solid rgba(255,255,255,0);
    border-right:20px solid @red;
    @media @scr-sm {
      border: 0;
    }
    &:hover{
      //.transRedBG(0.1);
      border-left: 20px solid @faintRed;
      border-right:20px solid @red;
      @media @scr-xs {
        border: 0;
      }
    }
  }
  .container{
    padding-left: 0;
    padding-right: 0;
    .transition(all, 0.3s, ease);
  }
  .sontainer-fluid{
    padding: 0;
  }
}
.work-block{
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  background: no-repeat center center;
  background-size:cover;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  overflow: hidden;
  zoom:1;
  cursor: pointer;
  .transition(height 0.3s ease);
  .transition(opacity 0.3s ease);
  //.rotateY(0deg);
  //.transform-origin(0% 50%);
  //.transition(transform 0.5 ease);
  //.perspective(600);
  &.out{
    //.rotateY(90deg);
  }
  &.alt{
    //.rotateY(0deg);
    //.transform-origin(100% 50%);
    &.out{
      //.rotateY(-90deg);
    }
  }
  @media @scr-xs{
    overflow: visible;
    margin-bottom: 100px;
  }
  .wb-bg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: no-repeat center center;
    background-size:cover;
    z-index: 1;
    .transition(all 0.5s ease);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .wb-info{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: -100%;
    display: table;
    .transBlueBG(0.9);
    .box-sizing(border-box);
    padding: 20px;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: left;
    transition:all 0.5s ease;
    @media @scr-md{
      padding: 10px;
      left: 0;
      top:170px;
      height: 130px;
      .transBlueBG(1);
    }
    @media @scr-xs{
      padding: 10px;
      left: 0;
      top:120px;
      height: 150px;
      .transBlueBG(1);
    }
    .wb-tech{
      position: absolute;
      display: block;
      bottom: 20px;
      left:10px;
      right:10px;
      text-align: center;
      transition:all 0.5s ease;
      @media @scr-md{
        bottom: 10px;
      }
      img{
        width: 30px;
        margin: 0 7px 0 0;
        transition:all 0.5s ease;
        @media @scr-md{
          width: 20px;
          margin: 0 3px 0 0;
        }
      }
    }
    strong{
      display: inline-block;
      color: @lightBlue;
      position: absolute;
      right: 20px;
      font-size: 50px;
      top:50%;
      margin-top: -40px;
      @media @scr-xs{
        right: 10px;
        font-size: 30px;
        margin-top: -30px;
      }
    }
    .wb-row{
      display: table-row;
      .wb-cell{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        @media @scr-md{
          vertical-align: top;
        }
      }
    }
    .work-logo{
      max-height: 75px;
      max-width: 300px;
      @media @scr-md{
        max-height: 50px;
        max-width: 200px;
      }
    }
    h2{
      color: @white;
      display: block;
      @media @scr-md{
        font-size: 18px;
        margin: 7px;
      }
    }
    p{
      color: @white;
      display: block;
      @media @scr-md{
        display: none;
      }
    }
    a{
      color: @white;
    }
  }
  .cover-grad{
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 2;
    position: absolute;
    backface-visibility:hidden;
    img{
      width: 100%;
      height:100%;
    }
  }
  .bg-img-hide{
    display: none;
  }
  &.alt{
    .cover-grad{
      left:0;
    }
    .wb-info{
      .transRedBG(0.9);
      left: 100%;
      @media @scr-md{
        left:0;
        .transRedBG(1);
      }
      strong{
        color: @lightRed;
      }
    }
    &:hover{
      .wb-info{
        left:0;
      }
    }
  }
  &:hover{
    //height:400px;
    .wb-bg{
      .blur(5px);
    }
    .wb-info{
      left:0;
    }
  }
  @media @scr-xs{
    height: 200px;
    &:hover{
      .wb-info{
        left:0;
      }
      height:200px;
    }
  }
  &.inactive{
    height: 50px;
    opacity: 0;
    .transition(height 0.3s ease);
    .transition(opacity 0.3s ease);
  }
}


.detail_container{
  margin-top: 30px;
  .detail_header_banner{
    position: relative;
    display: block;
    width: 100%;
    overflow-y: hidden;
    .detail_header_bg{
      position: absolute;
      width: 100%;
      height:105%;
      top:0;
      left:0;
      background-size:cover;
      background-repeat: no-repeat;
      background-position:0 50%;
      .blur(5px);
      z-index: 1;
    }
  }
  .detail_info{
    position: relative;
    display: block;
    z-index: 2;

    .transBlackBG(0.6);
    color: @white;
    text-align: center;
    .box-sizing(border-box);
    padding:80px 30px;
    h1{
      display: inline-block;
      font-size: 80px;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
      @media @scr-md{
        font-size: 40px;
      }
    }
    .detail_client{
      img{
        max-height: 125px;
        max-width: 400px;
        @media @scr-md{
          max-height: 50px;
          max-width: 200px;
        }
      }
      &:hover{
        .opacity(0.8);
      }
    }
  }
  .detail_video_container{
    display: block;
    position: relative;
    width: 100%;
    background-color: @black;
    .container{
      padding-left: 0;
      padding-right: 0;
    }
    .col-md-12{
      padding-left: 0;
      padding-right: 0;
    }
    .detail_video{
      width: 100%;
      display: block;
      position: relative;
      height: 720px;
      overflow: hidden;
      video{
        position: absolute;
        height: 720px;
        width: 1280px;
      }
      @media @scr-lg{
        height: 558px;
        video{
          position: absolute;
          height: 558px;
          width: 992px;
        }
      }
      @media @scr-md{
        height: 432px;
        video{
          position: absolute;
          height: 432px;
          width: 768px;
        }
      }
      @media @scr-md{
        height: 432px;
        video{
          position: absolute;
          height: 432px;
          width: 768px;
        }
      }
      @media @scr-sm{
        height: 432px;
        video{
          position: absolute;
          height: 432px;
          width: 768px;
          left:50%;
          margin-left: -384px;
        }
      }
      @media @scr-xs{
        height: 270px;
        video{
          position: absolute;
          height: 270px;
          width: 480px;
          left:50%;
          margin-left: -240px;
        }
      }
    }
  }
  .detail_tech_container{
    display:block;
    width: 100%;
    border-left:20px solid rgba(255,255,255,0);
    border-right:20px solid @red;
    @media @scr-md{
      border-left:0;
      border-right:0;
    }
    .container{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .detail_technologies{
    position: relative;
    display: inline-block;
    background-color: @red;
    .box-sizing(border-box);
    color: @white;
    padding:60px 30px;
    @media @scr-md{
      .container{
        padding-left: 0;
        padding-right: 0;
      }
      display: inherit;
    }
    h3{
      display: inline-block;
      font-size: 50px;
      width: 100%;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 50px;
      @media @scr-sm{
        font-size: 30px;
      }
    }
    .tech_container{
      .box-sizing(border-box);
      @media @scr-md{
          //padding-left: 0;
          //padding-right: 0;
      }
    }
    .detail_technology{
      display: table;
      .transWhiteBG(0.2);
      font-size: 30px;
      .box-sizing(border-box);
      padding:10px;
      margin: 10px 0;
      width: 100%;
      min-height: 110px;
      @media @scr-sm{
        min-height: 70px;
      }
      .tech_img{
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        text-align: left;
        width: 70px;
        @media @scr-sm{
          width: 50px;
        }
      }
      strong{
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        text-align: left;
        color: @white;
        @media @scr-lg{
          font-size: 24px;
        }
        @media @scr-sm{
          font-size: 20px;
        }
      }
      text-decoration: none;
      &:hover{
        .transBlackBG(0.4);
        strong{
          color:@lightRed;
        }
      }
    }
  }
  .detail_info_description{
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
    .box-sizing(border-box);
    color:@black;
    text-align: center;
    .detail_title_holder{
      display: block;
      width: 100%;
      border-left:20px solid @blue;
      border-right:20px solid rgba(255,255,255,0);
      margin-bottom: 30px;
      @media @scr-md{
        border-left:0;
        border-right:0;
      }
      h2{
        display: inline-block;
        font-size: 42px;
        text-align: center;
        padding:50px;
        width: 80%;
        @media @scr-sm{
          width: 100%;
          font-size: 30px;
        }
      }
    }
    .detail_info_block{
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: 30px;
      .detail_img{
        position: absolute;
        left: 50%;
        width: 50%;
        height: 100%;
        background: 50% 50% no-repeat;
        background-size:cover;
        @media @scr-md{
          position: relative;
          left: 0;
          width: 100%;
          height: 300px;
        }
      }
      .container{
        display: table;
        padding-left: 0;
        padding-right: 0;
        .row{
          display: table-row;
          .detail_info_copy{
            .box-sizing(border-box);
            padding:50px;
            height:500px;
            margin-top:5px;
            text-align: left;
            vertical-align:middle;
            font-size: 24px;
            @media @scr-xs{
              font-size: 18px;
            }
          }
          .detail_info_copy{
            display: table;
            p{
              &:first-line{
                font-size: 1.2em;
                font-weight: 700;
                text-transform: uppercase !important;
              }
              position: relative;
              width: 100%;
              height: 100%;
              display: table-cell;
              vertical-align: middle;
            }
            @media @scr-md{
              height: auto;
              text-align: center;
            }
          }
        }
      }
      &:nth-child(even){
        .transBlueBG(0.1);
        border-left:20px solid @blue;
        border-right:20px solid rgba(255,255,255,0);
        @media @scr-md{
          border-left:0;
          border-right:0;
        }
        .container {
          .row {
            .detail_info_copy {
              p {
                &:first-line {
                  color: @blue;
                }
              }
            }
          }
        }
      }
      &:nth-child(odd){
        .transRedBG(0.1);
        border-left:20px solid rgba(255,255,255,0);
        border-right:20px solid @red;
        @media @scr-md{
          border-left:0;
          border-right:0;
        }
        .detail_img{
          left: 0;
        }
        .container {
          .row {
            .detail_info_copy {
              p {
                &:first-line {
                  color: @red;
                }
              }
            }
          }
        }
      }
    }

  }
}

#detail-overlay{
  .work-block;
  transition: none;
  margin: 0;
  position: fixed;
  left:100%;
  min-height:100%;
  width: 100%;
  top:50px;
  .wb-info{
    left:0;
  }
  z-index: 20;
}
