<div class="section">
    <div class="">
        <div class="work-blocks">
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block col-md-12" style="background-image:url('img/banners/motley_crue.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/html5_effects.png" title="HTML5 Graphics, 3D and Canvas" alt="HTML5 Graphics, 3D and Canvas"/>
                                <img src="img/tech/html5_multimedia.png" title="HTML5 Video and Multimedia" alt="HTML5 Video and Multimedia"/>
                                <img src="img/tech/jquery.png" title="jQuery" alt="jQuery"/>
                                <img src="img/tech/backbonejs.png" title="BackboneJS" alt="BackboneJS"/>
                                <img src="img/tech/createjs.png" title="CreateJS" alt="CreateJS"/>
                                <img src="img/tech/php.png" title="PHP" alt="PHP"/>
                                <img src="img/tech/mysql.png" title="MYSQL" alt="MYSQL"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/motley-crue.png" class="work-logo"/>
                                    <h2>Final Tour Website</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/cal_gbb.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/html5_effects.png" title="HTML5 Graphics, 3D and Canvas" alt="HTML5 Graphics, 3D and Canvas"/>
                                <img src="img/tech/doubleclick.png" title="Double Click Studio" alt="Double Click Studio"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/callaway.png" class="work-logo"/>
                                    <h2>Great Big Bertha - HTML5 Banners</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/island_shawn.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/html5_effects.png" title="HTML5 Graphics, 3D and Canvas" alt="HTML5 Graphics, 3D and Canvas"/>
                                <img src="img/tech/jquery.png" title="jQuery" alt="jQuery"/>
                                <img src="img/tech/backbonejs.png" title="BackboneJS" alt="BackboneJS"/>
                                <img src="img/tech/createjs.png" title="CreateJS" alt="CreateJS"/>
                                <img src="img/tech/php.png" title="PHP" alt="PHP"/>
                                <img src="img/tech/mysql.png" title="MYSQL" alt="MYSQL"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/island.png" class="work-logo"/>
                                    <h2>Shawn Mendes Album Cover Generator</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/random_shop.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/jquery.png" title="jQuery" alt="jQuery"/>
                                <img src="img/tech/backbonejs.png" title="BackboneJS" alt="BackboneJS"/>
                                <img src="img/tech/php.png" title="PHP" alt="PHP"/>
                                <img src="img/tech/mysql.png" title="MYSQL" alt="MYSQL"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/random.png" class="work-logo"/>
                                    <h2>Are You a Shopaholic? Quiz Site</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/mophie.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/html5_effects.png" title="HTML5 Graphics, 3D and Canvas" alt="HTML5 Graphics, 3D and Canvas"/>
                                <img src="img/tech/html5_multimedia.png" title="HTML5 Video and Multimedia" alt="HTML5 Video and Multimedia"/>
                                <img src="img/tech/jquery.png" title="jQuery" alt="jQuery"/>
                                <img src="img/tech/magento.png" title="Magento" alt="Magento"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/mophie.png" class="work-logo"/>
                                    <h2>Product Launch Components</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/call_xr.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/flash.png" title="Flash" alt="Flash"/>
                                <img src="img/tech/gsap.png" title="Greensock Animation Platform" alt="Greensock Animation Platform"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/callaway.png" class="work-logo"/>
                                    <h2>XR Clubs - Rich Media Banners</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/lifetime_bi.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/html5_multimedia.png" title="HTML5 Video and Multimedia" alt="HTML5 Video and Multimedia"/>
                                <img src="img/tech/jquery.png" title="jQuery" alt="jQuery"/>
                                <img src="img/tech/backbonejs.png" title="BackboneJS" alt="BackboneJS"/>
                                <img src="img/tech/php.png" title="PHP" alt="PHP"/>
                                <img src="img/tech/postgresql.png" title="PostgreSQL" alt="PostgreSQL"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/lifetime.png" class="work-logo"/>
                                    <h2>Bring It! Fanzone</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/tru_joan.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/flash.png" title="Flash" alt="Flash"/>
                                <img src="img/tech/gsap.png" title="Greensock Animation Platform" alt="Greensock Animation Platform"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/true-religion.png" class="work-logo"/>
                                    <h2>Joan Smalls Campaign</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/mmt.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/html5_multimedia.png" title="HTML5 Video and Multimedia" alt="HTML5 Video and Multimedia"/>
                                <img src="img/tech/jquery.png" title="jQuery" alt="jQuery"/>
                                <img src="img/tech/backbonejs.png" title="BackboneJS" alt="BackboneJS"/>
                                <img src="img/tech/php.png" title="PHP" alt="PHP"/>
                                <img src="img/tech/mysql.png" title="MYSQL" alt="MYSQL"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/coke-zero.png" class="work-logo"/>
                                    <h2>Music Midtown - Are You on The List?</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/mtv_mean.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/jquery.png" title="jQuery" alt="jQuery"/>
                                <img src="img/tech/php.png" title="PHP" alt="PHP"/>
                                <img src="img/tech/postgresql.png" title="PostgreSQL" alt="PostgreSQL"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/mtv.png" class="work-logo"/>
                                    <h2>Mean Girls Quiz</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/tru_beso.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/flash.png" title="Flash" alt="Flash"/>
                                <img src="img/tech/gsap.png" title="Greensock Animation Platform" alt="Greensock Animation Platform"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/true-religion.png" class="work-logo"/>
                                    <h2>Be So Bold Campaign</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/thales.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/flash.png" title="Flash" alt="Flash"/>
                                <img src="img/tech/gsap.png" title="Greensock Animation Platform" alt="Greensock Animation Platform"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/thales.png" class="work-logo"/>
                                    <h2>In Flight Display</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="container">
                    <a href="#work/cool" class="work-block" style="background-image:url('img/banners/dareme.jpg');">
                        <div class="wb-info">
                            <div class="wb-tech">
                                <img src="img/tech/html5.png" title="HTML 5" alt="HTML 5"/>
                                <img src="img/tech/html5_styling.png" title="CSS3 Styling" alt="CSS3 Styling"/>
                                <img src="img/tech/html5_multimedia.png" title="HTML5 Video and Multimedia" alt="HTML5 Video and Multimedia"/>
                                <img src="img/tech/jquery.png" title="jQuery" alt="jQuery"/>
                                <img src="img/tech/backbonejs.png" title="BackboneJS" alt="BackboneJS"/>
                                <img src="img/tech/php.png" title="PHP" alt="PHP"/>
                                <img src="img/tech/mysql.png" title="MYSQL" alt="MYSQL"/>
                            </div>
                            <div class="wb-row">
                                <div class="wb-cell">
                                    <img src="img/logos/dareme.png" class="work-logo"/>
                                    <h2>Full E-Commerce Site</h2>
                                    <p>Info</p>
                                </div>
                            </div>
                        </div>
                        <div class="cover-grad">
                            <img src="img/grad.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>