<div class="container section">
    <div class="col-md-12">
        <p>Hello world! This is BLANG-PHP.</p>
        <div class="work-blocks">
            <div class="work-block">
                <div class="wb-info">
                    <h2>Sophie</h2>
                    <p>Info</p>
                    <a href="#">check it out</a>
                </div>
                <div class="cover-grad">
                    <img src="img/grad.png"/>
                </div>
                <img src="img/landing.jpg" class="work-bg-img"/>
            </div>
            <div class="work-block">
                <div class="wb-info">
                    <h2>Sophie</h2>
                    <p>Info</p>
                    <a href="#">check it out</a>
                </div>
                <div class="cover-grad">
                    <img src="img/grad.png"/>
                </div>
                <img src="img/bringit-stage-1.jpg" class="work-bg-img"/>
            </div>
            <div class="work-block">
                <div class="wb-info">
                    <h2>Sophie</h2>
                    <p>Info</p>
                    <a href="#">check it out</a>
                </div>
                <div class="cover-grad">
                    <img src="img/grad.png"/>
                </div>
                <img src="img/motley.jpg" class="work-bg-img"/>
            </div>
            <div class="work-block">
                <div class="wb-info">
                    <h2>Sophie</h2>
                    <p>Info</p>
                    <a href="#">check it out</a>
                </div>
                <div class="cover-grad">
                    <img src="img/grad.png"/>
                </div>
                <img src="img/sm.jpg" class="work-bg-img"/>
            </div>
            <div class="work-block">
                <div class="wb-info">
                    <h2>Sophie</h2>
                    <p>Info</p>
                    <a href="#">check it out</a>
                </div>
                <div class="cover-grad">
                    <img src="img/grad.png"/>
                </div>
                <img src="img/landing.jpg" class="work-bg-img"/>
            </div>
        </div>
    </div>
</div>